<a href="https://colab.research.google.com/github/RamosJarren/58013-LinearAlgebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indendation

In [ ]:
if 5>2:
  print("Five is grater than two!")

Python Comments

In [5]:
#This is a comment
print("Hello world")

Hello world

Python Variable

In [8]:
x = 1
a, b = 0, -1
a, b, c = 0, -1, 2

In [7]:
b = "Sally" #This is a type of string

Casting

In [6]:
b = "Sally" #This is a type of string
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

Type() Function

In [9]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single quotes'

In [12]:
y = "John"
y = 'John'

Case sensitive

In [11]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [10]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [13]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [14]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [17]:
x = "Python is "
y = "enjoying"
z = x + y
print(z)

Python is enjoying

Arithmetic Operation

In [19]:
x = 5
y = 3
print(x + y)

8

In [18]:
x = 5
y = 3
sum = x + y
print(sum)

8

In [20]:
a, b, c = 0, -1, 6
c %= 3
print(c)

0

Comparison and Logical Operators

In [24]:
a, b, c = 0, -1, 6
a > b and c > b

True

Identity Operators

In [26]:
a, b, c = 0, -1, 5
a is c

False

Bitwise Operators

In [37]:
a, b, c = 0, -1, 5
print(c << 1)
print(c >> 1)

#c = 0101 = 5
#c << 1 = 1010 = 10
#c >> 1 = 0010 = 2

10
2